name: Validate Renovate Config

permissions:
  contents: read

on:
  pull_request: {}

jobs:
  validate-renovate-config:
    name: Validate renovate config
    runs-on: ubuntu-latest
    container:
      image: renovate/renovate:41.109.0@sha256:3a0418d9ac23dfa24e769f994ee0b5f7ed25005b30afcb12875807381b80efb2
      options: --user root
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: renovate --version
      - run: renovate-config-validator default.json5
      - run: renovate-config-validator .github/renovate.json5
